body.home{
    background-color : fff;
    height : 500vh;
    width : 100vw;
    overflow-x :hidden;
   
}

body.home::after{
    content: "";
    position : absolute;
    width: 100%;
    height: 500vh;
    top : 0;
    bottom :0;
    left : 0;
    right : 0;
    @include tablet{
        clip-path : polygon(90% 0, 100% 0, 100% 100% , 80% 100%);
         background-color: rgb(255, 255, 255);
    }

   z-index: -1;
}

.home {
    #primary {
        width: 100vw;
        margin : 0;

        header {
           
            text-align: center;
        }
    }

} 

.site-title {

    font-family: $font__sitetitle ;
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},3rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
}

.home .entry-header {
    font-size : clamp(.6rem, #{"-0.875rem + 8.333vw"},3rem);
}




/* --------------------------------------------------------------------------------------- 
Liste des blocs de cours par type_de_cours
------------------------------------------------------------------------------------------ */
.home .cours {
    display : flex;
    margin-top: 50%;
    flex-direction: column;
    h2 {
        text-align: center;
        
    }
    section.bloc {
       
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        article {
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border : 1px solid #aaa;
            width : 95%;
            margin : 1%;
            padding  : 1rem;
            text-align : center;
            background-image: url(imgBackArticle.jpeg);
            background-repeat: no-repeat;
            background-size: 100%;
            p {
                margin: .4rem;
                font-size: 1rem;
            }
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        }
        @include tablet {
            article {
                width : 47%;
                margin : 1%;
                background-image: url(imgBackArticle.jpeg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-image: hidden;
            }
        }
        @include desktop {
            article {
            width : 31%;
            margin : 1%;
            background-image: url(tokyoGk.jpeg);
            background-repeat: no-repeat;
            background-size: 100%;
            }
        }
    }
}


.accueil{
    ul{
        list-style-type: none;
        font-size: clamp(1.2rem, #{"-0.875rem + 8.333vw"}, 3rem);
    }

    img{
        display: block;
        border-radius: 50%;
    }
}



.imagesection{
    display:flex;
    width: 300vw;
    height: 50vh;
    transition: transform .5s;
    

    div{
    background-image: url(tokyoGken.jpeg);
    width: 100vw;
    height:40vw;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    }
}


.nouvelles{
    
    //margin: 2% 4% 2% 3%;

   // background-size: 100%;
   // background-repeat: no-repeat;
    //background-color: rgb(231, 225, 208);
    background-color: white;
    text-align: justify;
    width: 100%;
    margin-top:5%;
    margin-bottom:5%;
    padding-left: 2%;
    padding-right:2%;
    -webkit-box-shadow: 5px 5px 33px 5px #8E8E8E; 
    box-shadow: 5px 5px 33px 5px #8E8E8E;
    

    h2{
        color:red;
        
    }

    h2:hover{
        color:black;
    }

    p{
        color:black;
        font-weight: bold;
    
    }
    p:hover{
       color: red;
       animation: 5s anim-textNouvelles both;
    }
}


.admin-rapid{

   
    color:black;
    font-weight: bold;
    text-align: justify;
    width: 100%;
    margin-top:5%;
    padding-left: 2%;
    padding-right:2%;
    padding-bottom: 2%;
    -webkit-box-shadow: 5px 5px 33px 5px #8E8E8E; 
    box-shadow: 5px 5px 33px 5px #8E8E8E;
}
#media_image-2{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@keyframes anim-textNouvelles {
	0%{
		
		transform : translateX(0) translateY(0);
	}
 
	100%{
		
		transform : translateX(20px) translateY(0);
	}
}



