.galerie{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    animation : anim-carte .5s both;

  .flip-card{
      margin: 2%;
      background-color: transparent;
      width:150px;
      height:150px;
      perspective: 1000px;
  }

  .flip-card-inner{
      position: relative;
      width:100%;
      height:100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner{
      transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front{
      background-color: #bbb;
      color: black;
  }

  .flip-card-back{
      background-color: #cbe4a3;
      color: white;
      transform: rotateY(180deg);
  }


  a{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:0.5rem;
      animation: anim-texte2 .5s both;
    
  }

  a:hover{
      animation: anim-texte .5s both;
  }
}


@keyframes anim-carte {
	0%{
		opacity : 0;
		transform : translateX(0) translateY(0);
	}
    50%{
        opacity: .5;
        transform : translateX(0) translateY(50px);
    }
	100%{
		opacity: 1;
		transform : translateX(0) translateY(100px);
	}
}


@keyframes anim-texte {
	0%{
		opacity : 1;
		
	}
    50%{
        opacity: .5;
        
    }
	100%{
		opacity: 0;
		
	}
}


@keyframes anim-texte2 {
	0%{
		opacity : 0;
		transform : translateX(0) translateY(0);
	}
    50%{
        opacity: .5;
        transform : translateX(0) translateY(5px);
    }
	100%{
		opacity: 1;
		transform : translateX(0) translateY(20px);
	}
}