.site-title {
    
    font-family: $font__sitetitle ;
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},3rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
}

.page-header, .entry-header {
    margin-top : 130px;


    .page-title, .entry-header
    {
    font-size: 3rem;
    color: rgb(0, 6, 0);
    margin-bottom: 0;
    }

    .archive-description{
     
        font-size: 1rem;
        color: rgb(70, 21, 1); 
     

        
        p{
            margin:0;
            
        }
    }
}

#media_image-2{
   
    align-content: center;
    align-items: center;
    justify-content: center;
}




#categories-2{
    margin-top:30%;  
}





.entry-header, .page-header{
    color: rgb(113, 0, 0);
  
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
}

.carrousel {
    width: 300vw;
    height: 50vh;
    display : flex;
    transition : transform .5s;
    transform : translate(0);

    div {
        display : flex;
        justify-content: center;
        align-items: center;
        width : 100vw;

        &:nth-of-type(1){
            background-image: url(ken2.jpeg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(2){
            background-image: url(keneki.gif);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(3){
            background-image: url(kaneki.gif);
            background-size: 100%;
            background-repeat: no-repeat;
        }

    }
   
}

#buttoncarrousel
{
    display: flex;
    width: 100vw;
    margin: 20px;
    justify-content: center;
    align-items: center;
    
    
}