.site-title {
    
    font-family: $font__sitetitle ;
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},3rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
}

.page-header, .entry-header {
    margin-top : 130px;


    .page-title, .entry-header
    {
    font-size: 3rem;
    color: rgb(0, 6, 0);
    margin-bottom: 0;
    }

    .archive-description{
     
        font-size: 1rem;
        color: rgb(70, 21, 1); 
     

        
        p{
            margin:0;
            text-align: justify;
            padding-left:5%;
            padding-right:5%;
        }
    }
}

#media_image-2{
   
    align-content: center;
    align-items: center;
    justify-content: center;
}




#categories-2{
    margin-top:30%;  
}





.entry-header, .page-header{
    color: rgb(113, 0, 0);
  
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
}

.carrousel {
    width: 300vw;
    height: 50vh;
    display : flex;
    transition : transform .5s;
    transform : translate(0);

    div {
        display : flex;
        justify-content: center;
        align-items: center;
        width : 100vw;

        &:nth-of-type(1){
            background-image: url(ken2.jpeg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(2){
            background-image: url(keneki.gif);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(3){
            background-image: url(kaneki.gif);
            background-size: 100%;
            background-repeat: no-repeat;
        }

    }
   
}

#buttoncarrousel
{
    display: flex;
    width: 100vw;
    margin: 20px;
    justify-content: center;
    align-items: center;
    
    
}


.button-carousel-section__arrows {
    align-items: center;
    background-color: transparent;
    border: 0;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 44px;
    z-index: 2;
}

.button-carousel-section__container {
    position: relative;
}

.button-carousel-section__buttons-list {
    display: flex;
    margin: 0 44px;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
}

.button-carousel-section__arrows--left {
    background: linear-gradient(
90deg
,#fff,transparent),linear-gradient(
90deg
,#fff,transparent);
    left: 0;
}

.button-carousel-section__arrows--right {
    background: linear-gradient(
90deg
,transparent,#fff),linear-gradient(
90deg
,transparent,#fff);
    right: 0;
}

.button-carousel-section__arrows {
    align-items: center;
    background-color: transparent;
    border: 0;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 44px;
    z-index: 2;
}


.button-carousel-section__buttons-list:after, .button-carousel-section__buttons-list:before {
    content: "";
    display: block;
    flex: 0 0 auto;
    height: 1px;
    margin: auto;
    width: 1px;
}

.button-carousel-section__buttons-list:after, .button-carousel-section__buttons-list:before {
    content: "";
    display: block;
    flex: 0 0 auto;
    height: 1px;
    margin: auto;
    width: 1px;
}

.button-carousel-section__buttons-list::-webkit-scrollbar {
    display: none;
}

element.style {
    background-image: linear-gradient(to right, rgb(255, 255, 255), 80%, rgba(255, 255, 255, 0));
}

.button-carousel-section__button-cta {
    margin: 20px 10px;

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
}

.button-carousel-section__button-cta .button-primary {
    align-items: center;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    font: 400 12px/14px proxima-nova,Arial,sans-serif;
    height: 40px;
    justify-content: center;
    letter-spacing: 1px;
    min-width: 150px;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s ease,color .3s ease;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    min-width: 185px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
}

@media only screen and (max-width: 767px){
.button-carousel-section__button-cta .button-primary {
    min-width: 130px;
}
}

p{
    margin:0;
    text-align: justify;
    padding-left:5%;
    padding-right:5%;
}

.button-carousel-section__button-cta{
    list-style: none;
    

}

.entry-content{
    margin-bottom: 30%;
    margin-top: 10%;
    p{
        font-size:1.5em;
    }
}