.cours-accueil{

width:100vw;
display: flex;
flex-direction: column;
align-items: flex-start;
h2{
    width:100%;
    font-size: 3rem;
    text-align: center;
    padding: 0%;
    margin: 10px auto 0 auto;
}
}


.bloc{
    width: 100vw;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    article{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    border: 1px solid #aaa;
    margin: 4%;



    p{
        font-size: 1.3rem;
        margin: .3rem;
        
    }

    a{
        display: block;
        text-align: center;
        font-size: clamp(1rem, #{"-0.875rem +8.333vw"}, 3rem);
        text-decoration: none;
        font-weight: bold;
    }
    }
}


.Web article{
    background-color: white ;
}

.Conception article{
    background-color: white ; 
}

.Jeu article{
    background-color: white ; 
}

.Spécifique article{
    background-color: white;
}

@include media-desktop(800px){
    .accueil{
        flex-direction: row;
    }

    .bloc{

        article{
            width:42%;
            margin: 2%;
            a{
                font-size: clamp(1rem, #{"-0.875rem +6.333vw"}, 3rem);

            }
        }
    }
}

@include media-desktop(1200px){
    .accueil{
        flex-direction: row;
    }

    .bloc{

        article{
            width:29%;
            margin: 2%;
            a{
                font-size: clamp(1rem, #{"-0.875rem +4.333vw"}, 3rem);

            }
        }
    }
}