.site {
	display: grid;
	//grid-template-columns:  ($size__site-sidebar) auto;
	grid-template-columns: 100%;
	grid-template-areas:
	"header header"
	"main main"
	"sidebar sidebar"
	"footer footer";


	@include tablet{
	//grid-template-columns:  ($size__site-sidebar) auto;
	grid-template-columns: 80% 20%;
	grid-template-areas:
	"header header"
	"main sidebar"
	"footer footer";

	}
}

.site-header {

	grid-area: header;
	height: 25vh;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
	background-color: rgb(51, 2, 2);
	padding-left: 6%;
	color:white;
	margin-top:5%;
	
}

.site-footer {
	display: flex;
	grid-area: footer;
	background-color: rgb(241, 235, 235);
	padding-left: 6%;
	padding-bottom: 10%;
	overflow: hidden;
	
	-webkit-box-shadow: 5px 5px 33px 5px #8E8E8E; 
    box-shadow: 5px 5px 33px 5px #8E8E8E;

}


.gmaps
{
	display: flex;
	margin: 0 auto;
}



@import "no-sidebar";
