.site {
	display: grid;
	//grid-template-columns:  ($size__site-sidebar) auto;
	grid-template-columns: 100%;
	grid-template-areas:
	"header header"
	"main main"
	"sidebar sidebar"
	"footer footer";


	@include tablet{
	//grid-template-columns:  ($size__site-sidebar) auto;
	grid-template-columns: 80% 20%;
	grid-template-areas:
	"header header"
	"main sidebar"
	"footer footer";

	}
}

.site-header {

	grid-area: header;
	height: 25vh;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
	background-color: rgb(255, 255, 255);
	padding-left: 6%;
	padding-bottom: 20%;
	padding-top:20vh;
	

	
}

.site-footer {
	display: flex;
	grid-area: footer;
	background-color: rgb(0, 0, 0);
	color:gray;
	padding-left: 6%;
	//margin-top: 10%;
	padding-bottom: 10%;
	overflow: hidden;
	font:900 12px/14px proxima-nova,Arial,sans-serif;


}


.gmaps
{
	display: flex;
	margin: 0 auto;
}



@import "no-sidebar";
